{% extends 'estoque/base.html' %}
{% block body %}
    <br><br>
    <div class="container">
        <div class="row justify-content-center">
            <form action="" method="post">
                {% csrf_token %}
                <!-- Exibe os rótulos e campos do formulário -->
                {% for campo in form %}
                    {{ campo.label_tag }} &nbsp; {{ campo }}
                {% endfor %}
                <button type="submit">Enviar</button>
            </form>
        </div>
        <div class="row justify-content-center">
            <!-- Exibe mensagem de erro ou de confirmação, se existir mensagem. -->
            {% if erro %}
                {{ erro }}
            {% endif %}
            {% if mensagem_confirmacao %}
                {{ mensagem_confirmacao }}
            {% endif %}
        </div>
    </div>
{% endblock %}