{% extends 'estoque/base.html' %}
{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-5">
            <br>
            <a href="estoque/cadastrar-produto" class="btn btn-info btn-lg btn-block" role="button">Cadastrar Produto</a>
            <br>
            <a href="estoque/realizar-compra" class="btn btn-info btn-lg btn-block" role="button">Realizar Compra</a>
            <br>
            <a href="estoque/lista-compra" class="btn btn-info btn-lg btn-block">Listar Compras</a><br>
        </div>
    </div>
{% endblock %}