{% extends 'estoque/base.html' %}
{% block body %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Compra#</th>
          <th scope="col">Produto</th>
          <th scope="col">Quantidade</th>
          <th scope="col">Preço</th>
          <th scope="col">Preço Médio</th>
        </tr>
      </thead>
      <tbody>
      {% for compra in lista_compras %}
        <tr>
          <th scope="row">Compra {{ forloop.counter }}</th>
          <td>{{ compra.produto.nome }}</td>
          <td>{{ compra.quantidade }}</td>
          <td>{{ compra.preco_de_compra }}</td>
          <td>{{ compra.preco_medio | floatformat:2 }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
{% endblock %}